<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Morii sends notifications to keep you updated on new comments, likes, and checkins.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Chivo-VariableFont_wght.ttf</string>
		<string>Gambetta-Variable.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
